<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={{url_for('static',filename='rice.css')}}>
    <title>BLACKGRAM</title>
</head>
<style>
    body {
    background-color: #ccff66;
    font-family: 'Georgia', serif;
}
</style>
<body >
    <h1 style="text-align: center; font-family: Georgia, serif; font-size: 3 rem; font-weight: bolder">BLACKGRAM</h1>
    <div class="blackgramimg">
        <img src="../static/blackgram.jpg" alt="Blackgram" style="height: 450px; width: 550px; margin-left: 32%">
    </div>
    <div>
        <h2><center>Black gram holds a high protein value than most of the legumes</center></h2>
        <h2><center>It is also an excellent source of dietary fiber,zinc & phosphorus which offers a myriad of healing</center></h2>
   </div>
</body>
</html>