<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={{url_for('static',filename='rice.css')}}>
    <title>CHICKPEA</title>
</head>
<style>
    body {
    background-color: #ccff66;
    font-family: 'Georgia', serif;
}
</style>
<body >
    <h1 style="text-align: center; font-family: Georgia, serif; font-size: 3 rem; font-weight: bolder">CHICKPEA</h1>
    <div class="chickpeaimg">
        <img src="../static/chickpeas.jpg" alt="Chickpea" style="height: 450px; width: 550px; margin-left: 32%">
    </div>
    <div>
        <h2><center>Ground chickpeas have been used as a coffee substitute since the 18th century </center></h2>
        <h2><center>and are still commonly used as a caffeine-free alternative today, why not give it a go!</center></h2>
   </div>
</body>
</html>