<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={{url_for('static',filename='rice.css')}}>
    <title>COFFEE</title>
</head>
<style>
    body {
    background-color: #ccff66;
    font-family: 'Georgia', serif;
}
</style>
<body >
    <h1 style="text-align: center; font-family: Georgia, serif; font-size: 3 rem; font-weight: bolder">COFFEE</h1>
    <div class="coffeeimg">
        <img src="../static/coffee.jpeg" alt="coffee" style="height: 450px; width: 550px; margin-left: 32%">
    </div>
    <div>
        <h2><center>The earliest term for the drink of coffee was the Arabic word “qahwah”</center></h2>
        <h2><center> which actually referred to a type of wine</center></h2>
   </div>
</body>
</html>