<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cropvester</title>
    <link rel="stylesheet" href="static/style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  </head>
  <body>

    <section>
      <input type="checkbox" id="check">
      <header>
        </div>
        <h2><a href="#" class="logo">Cropvester</a></h2>
        <div class="navigation">
          <a href="#">Home</a>
          <a href="#about">About Cropvester</a>
          <a href="/predict">Predictor</a>
        </div>
        <label for="check">
        <i class="fas fa-bars menu-btn"></i>
        <i class="fas fa-times close-btn"></i>
        </label>
      </header>
      <div class="content" style="margin-top: 8%;">
        <div class="info">
          <h2>Lets Put Agriculture First<br><span>Save Lives</span></h2>
          <p> “Cultivators are the most valuable citizens.They are tied to their country.” - Agriculture provides most of the world's food and fabrics. Cotton, wool, and leather are all agricultural products</p>
        </div>
      </div>
    
    </section>

    <section id="about">
      <h2>About Cropvester</h2>
      <p class="about-content" style="text-align: center;">
      <h4><p>Farmers today need to take up precision farming</p> </h4>
      <p> Let me explain</p>
      <br>
        


        <p>Precision farming is an approach where inputs are utilised in precise amounts to get increased average yields, compared to traditional cultivation techniques.This is the most recent innovation technology based on sustainable agriculture and healthy food production and it consists of profitability and increasing production, economic efficiency and the reduction of side effects on the environment.</p>
        <br>



        <h4>Why precision farming ?</h4><p>
          <ul>
            <li>To increase agriculture productivity</li>
            <li>Prevents soil degradation</li>
            <li>Reduction of chemical application in crop production</li>
            <li>Efficient use of water resources</li>
            <li>Dissemination of modern farm practices to improve quality, quantity and reduced cost of production</li>
            <li>Precision farming changing the socio-economic status of farmers</li>

          </ul>     
          <br>
          <br>


    
        <h4>Why Cropvester ?</h4><p> 
        Precision agirculture is in trend nowadays,This technique can reduce the crop failures and will help the farmers to take informed decision about their farming strategy.
        In order to mitigate the agrarian crisis in the current status quo, there is a need for better recommendation systems to alleviate the crisis by helping the farmers to make an informed decision before starting the cultivation of crops.</p>.
        <br>
        
    



        <p>So the purpose of developing this app is to recommend optimum crops to be cultivated by farmers based on several parameters and help them make an informed decision before cultivation. Cropvester is a web app which has Machine Learning model running at the back.
        This model is based on the Crop recommendation dataset. The codes for this project can be found at <a href="https://github.com/VirajBhatPrabhu/Crops-Recommendation-System" style="color: black; font-weight: bold;">github repo</a>.</p>
        <br>
        <br>

      </p>
    </section>

    <footer>
      <p>
        Developed by Viraj
      </p> 
      <div class="media-icons">
        <a href="https://www.linkedin.com/in/viraj-bhat-prabhu-287931247/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/VirajBhatPrabhu"><i class="fab fa-github"></i></a>
      </div>
    </footer>

  </body>
</html>
