<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={{url_for('static',filename='rice.css')}}>
    <title>PIGEONPEA</title>
</head>
<style>
    body {
    background-color: #ccff66;
    font-family: 'Georgia', serif;
}
</style>
<body >
    <h1 style="text-align: center; font-family: Georgia, serif; font-size: 3 rem; font-weight: bolder">PIGEONPEA</h1>
    <div class="pigeonpeaimg">
        <img src="../static/pigeonpea.jpg" alt="pigeonpea" style="height: 450px; width: 550px; margin-left: 32%">
    </div>
    <div>
        <h2><center>In Java and India, the leaves are ground to a pulp</center></h2>
        <h2><center>and used as a treatment for sores, wounds and itches</center></h2>
   </div>
</body>
</html>