<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={{url_for('static',filename='rice.css')}}>
    <title>POMEGRANATE</title>
</head>
<style>
    body {
    background-color: #ccff66;
    font-family: 'Georgia', serif;
}
</style>
<body >
    <h1 style="text-align: center; font-family: Georgia, serif; font-size: 3 rem; font-weight: bolder">POMEGRANATE</h1>
    <div class="pomegranateimg">
        <img src="../static/pomegranate.jpeg" alt="pomegranate" style="height: 450px; width: 550px; margin-left: 32%">
    </div>
    <div>
        <h2><center>The word pomegranate means apple with many seeds</center></h2>
        <h2><center>They can be stored up to 2 months in the refrigerator</center></h2>
   </div>
</body>
</html>